@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root{
    --color1:#ff7a7a ;
    --color2:#38cc8c;
    --color3:#6055a5;
    --color4:#3e3c49;
    --color5:#b9b6d3;
    --color6:#fff;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-image: url(images/bg-intro-mobile.png);
    position: relative;
    background-color: hwb(0 4% 21% / 0.579);
}
.container{
    width: 85%;
}
section{
    text-align: center;
    color: var(--color6);
    margin-bottom: 3rem;
}
section h1{
    margin-top: 5rem;
}
.mensaje{
    background-color: var(--color3);
    border-radius:  10px;
    font-size: 16px;
    text-align: center;
    padding: 1rem 4rem;
}
.mensaje span{
    font-weight: 400;
}
form{
    background-color: var(--color6);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0px 10px 5px #e25757;
}
.contenedor_input{
    width: 90%;
    text-align: end;
    margin: 1rem;
}
.contenedor_input:first-child{
    margin-top: 2rem;
}
.alerta{
    color: var(--color1);
    font-style: italic;
    font-size: 12px;
    display: none;
}
input{
    width: 100%;
    color: var(--color4);
    font-weight: 700;
    padding: 1rem;
    border-radius: 5px;
    border: solid 1px var(--color5);
}
.input{
    position: relative;
}
.input img{
    position: absolute;
    right: 1.5rem;
    top: 0.8rem;
    display: none;
}

.error input{
    border: solid 2px var(--color1);
}
.error input::placeholder{
    color: var(--color1);
}
.error img{
    display: block;
}
.error .alerta{
    display: block;
}
button{
    background-color: var(--color2);
    color: var(--color6);
    border: none;
    border-radius: 5px;
    width: 90%;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 1rem;
    cursor: pointer;
}
button:hover{
    background-color: #07854e;
}
form p{
    width: 70%;
    color: var(--color5);
    font-size: 10px;
    text-align: center;
    margin-bottom: 2rem;
}
form p a{
    color: var(--color1);
    text-decoration: none;
}
footer{
    position: absolute;
    bottom: 0;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (min-width: 950px) {
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 100vh;
        max-width: 1440px;
    }
    section{
        width: 45%;
        text-align: start;
    }
    section h1{
        font-size: 2.5rem;
    }

}